<div *ngIf="word && translateForm" class="popuptext show" [formGroup]="translateForm" (keyup.enter)="updateTranslation()">
    <div class="font-weight-bold font-size-1_5">
        {{word.content}}
    </div>
    <div class="btn-group-lg">
        <button class="minus-button btn btn-dark btn-lg" (click)="preventPropagation($event); decreaseLevel()">-</button>
        <button class="plus-button btn btn-dark btn-lg" (click)="preventPropagation($event); increaseLevel()">+</button>
        <button class="btn btn-dark btn-lg" (click)="preventPropagation($event); setKnown()">Known</button>
    </div>

    <div class="form-group">
        <label for="translation">Translation:</label>
        <input type="text" class="form-control" id="translation"
               formControlName="translation"
               (click)="preventPropagation($event)"
               #translationField
        >
    </div>

    <div class="form-group">
        <label for="comment">Comment:</label>
        <input type="text" class="form-control" id="comment" formControlName="comment" (click)="preventPropagation($event)">
    </div>

    <ng-container *ngIf="!isSelection">
        <div class="form-group">
            <label for="exampleSentence">Example sentence:</label>
            <input type="text" class="form-control" id="exampleSentence"
                   formControlName="exampleSentence"
                   (click)="preventPropagation($event)"
            >
        </div>

        <div class="form-group">
            <label for="exampleSentenceTranslation">Example sentence translation:</label>
            <input type="text" class="form-control" id="exampleSentenceTranslation"
                   formControlName="exampleSentenceTranslation"
                   (click)="preventPropagation($event)"
            >
        </div>
    </ng-container>

    <div>
        <button class="btn btn-dark btn-lg" (click)="preventPropagation($event); updateTranslation()">Submit</button>
    </div>
</div>
